// bower:scss
// endbower

body {
  font-family:'Courier New', serif;
  margin:0;
  padding:0;
  overflow:hidden;
}

#info-layer {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#info-box {
  position:absolute;
  top:0;
  left:0;
  color:#333;
  background-color:rgba(255, 0, 0, 0.4);
  padding:10px;
}